#token_1 {
  top: 3.3%;
  left: 2.2%;
}

#token_2 {
  top: 6.3%;
  left: 10%;
}

#token_3 {
  top: 8.6%;
  left: 40%;
}

#token_4 {
  top: 55%;
  left: 51%;
}

#token_5 {
  top: 2%;
  left: 60%;
}

#token_6 {
  top: 11.5%;
  left: 65%;
}

#token_7 {
  top: 16%;
  left: 59%;
}

#token_8 {
  top: 9.6%;
  left: 88%;
}

#token_9 {
  top: 9.8%;
  left: 86.8%;
}

#token_10 {
  top: 12.4%;
  left: 85.6%;
}

#token_11 {
  top: 14.7%;
  left: 86.3%;
}

#token_12 {
  top: 14.7%;
  left: 88.4%;
}

#token_13 {
  top: 13.4%;
  left: 92.3%;
}

#token_14 {
  top: 14.2%;
  left: 98%;
}

#token_15 {
  top: 17.7%;
  left: 92.6%;
}

#token_16 {
  top: 18.2%;
  left: 93.9%;
}

#token_17 {
  top: 20.5%;
  left: 93.2%;
}

#token_18 {
  top: 22.7%;
  left: 90.6%;
}

#token_19 {
  top: 24.3%;
  left: 88.5%;
}

#token_20 {
  top: 23.8%;
  left: 91.4%;
}

#token_21 {
  top: 41.3%;
  left: 94.3%;
}

#token_22 {
  top: 44.4%;
  left: 93.7%;
}

#token_23 {
  top: 75%;
  left: 93%;
}

#progress {
  position: fixed;
  bottom: 2vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.line-container {
  display: flex;
  width: 80%;
  display: inline-block;
}
.line-container .progress-line {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  width: 80%;
  background: #AEB6BF;
  height: 5px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.line-container .progress-line .progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #D4AC0D;
  transition: width 1s ease-in-out;
}
.line-container .status {
  position: relative;
  top: -9.5px;
}
.line-container .status .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 5px solid #AEB6BF;
  cursor: pointer;
}
.line-container .status .dot.current {
  background: white;
  border: 5px solid #D4AC0D;
}
.line-container .status .dot.completed {
  position: relative;
  background: #D4AC0D;
  border: 5px solid #D4AC0D;
}
.line-container .status .dot.completed::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5.5px);
  height: 5px;
  width: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform-origin: center;
  transform: rotate(-45deg);
  z-index: 2;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #D4AC0D;
}

h1 {
  text-transform: uppercase;
  color: black;
}

#preload {
  display: none;
}

.hidden {
  display: none !important;
}

#loading {
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
  background-color: white;
  background: url("../assets/dust.gif"), rgba(255, 255, 255, 0.5) center center no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  z-index: 500;
  transition: opacity 0.3s;
}
#loading div {
  text-align: center;
}

#canvas {
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("../assets/dust.gif") center center no-repeat;
  background-size: cover;
  opacity: 1;
}

#tsparticles {
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
  opacity: 1;
  mix-blend-mode: multiply;
}

#barrier {
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 160;
  display: none;
}

#mask {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: 1s;
  overflow: hidden;
  z-index: 200;
}
#mask .draggable {
  position: absolute;
  overflow: scroll;
  background: black;
  border: solid 1px white;
  transition: 0.2s;
  height: 300px;
  width: 300px;
}
#mask .draggable img {
  width: 150%;
}

#close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  cursor: pointer;
  display: none;
  padding-right: 20px;
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: opacity 0.5s;
  z-index: 150;
  position: absolute;
  border: 45px solid rgba(0, 0, 0, 0);
  opacity: 0;
  font-size: 30px;
  font-weight: bolder;
}

.draggable.is-dragging {
  z-index: 300;
}

#digicleanse {
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(133, 193, 233, 0.5);
  z-index: 1000;
  animation: flash 0.5s infinite;
  width: 0;
  overflow: hidden;
  transition: width 5s;
}
#digicleanse p {
  color: black;
  opacity: 0.6;
}
#digicleanse img {
  height: 80vh;
}

@keyframes flash {
  0% {
    background: rgba(133, 193, 233, 0.5);
  }
  100% {
    background: rgba(241, 196, 15, 0.5);
  }
}
#deCleanse {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
