#token_1{
    top: 3.3%;
    left: 2.2%;
}
#token_2{
    top: 6.3%;
    left: 10%;
}
#token_3{
    top: 8.6%;
    left: 40%;
}
#token_4{
    top: 45%;
    left: 51%;
}
#token_5{
    top: 2%;
    left: 50%;
}
#token_6{
    top: 11.5%;
    left: 55%;
}
#token_7{
    top: 16%;
    left: 49%;
}
#token_8{
    top: 9.6%;
    left: 78%    
}
#token_9{
    top: 9.8%;
    left: 76.8%
}
#token_10{
    top: 12.4%;
    left: 75.6%;
}
#token_11{
    top: 14.7%;
    left: 76.3%;
}
#token_12{
    top: 14.7%;
    left: 78.4%;
}
#token_13{
    top: 13.4%;
    left: 82.3%;
}
#token_14{
    top: 14.2%;
    left: 88%;
}
#token_15{
    top: 17.7%;
    left: 82.6%;
}
#token_16{
    top: 18.2%;
    left: 83.9%;
}
#token_17{
    top: 20.5%;
    left: 83.2%;
}
#token_18{
    top: 22.7%;
    left: 80.6%
}
#token_19{
    top: 24.3%;
    left: 78.5%;
}
#token_20{
    top: 23.8%;
    left: 81.4%;
}
#token_21{
    top: 41.3%;
    left: 84.3%
}
#token_22{
    top: 44.4%;
    left: 83.7%;
}
#token_23{
    top: 75%;
    left: 83%;
}